body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f0f0f0;
}

.caixa-top{
    top:0;
    left: 0;
    padding: 0;
    height: 140px;
    background: white;
    box-shadow: 0px 0px 15px #0000FF;

}
.caixa-top .logo{
    width: 150px;
    text-align: center;    
}
.caixa-top .logo .imgwh{
    width: 50px;
    padding-top: 5px;
}
.caixa-top .logo .title{
    font-size: 12px;
}
.caixa-top .sub{
    display: flex;
    justify-content: right;
    margin-top: -52px;
    padding: 20px;
}
.caixa-top .sub .enderec{
    display: flex;
    margin-right: 25px;
}
.caixa-top .sub .enderec p{
    margin-top: 0px;

}
.caixa-top .sub .enderec .icon{
    font-size: 24px;
    
}
.caixa-top .sub .menu .icon{
    font-size: 35px;
    margin-top: -6px;
}
.caixa-top .caixa-menu{
    padding: 1px;
    font-size: 17px;
    margin-top: -23px;
    margin-left: -40px;
}
.caixa-top .caixa-menu ul{
    display: flex;
    justify-content: space-around;
}
.caixa-top .caixa-menu ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.caixa-top .caixa-menu ul li a{
    text-decoration: none;
    color: #000;
}
.caixa-top .caixa-menu ul li.li-menu2 a{
    color: #0000ff;
    border-bottom: solid 2px #0000FF;
    padding-left: 10px;
    padding-right: 10px;
}
.caixa-top .caixa-menu ul li a:hover{
    text-decoration: none;
    color: #0000ff;
    border-bottom: solid 2px #0000FF;
    padding-left: 10px;
    padding-right: 10px;

}
.caixa-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    max-width: 450px;
    margin: 150px auto;
    background: #fff;
    border-radius: 5px;
}
.caixa-pesquisa .pesquisar{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.pesquisar input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.pesquisar.active input{
    border-radius: 5px 5px 0 0;
}
.pesquisar .list{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.pesquisar.active .list{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}  
.pesquisar.active .list{
    display: block;
}  
.list li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.list li:hover{
    background: #efefef;
}
.pesquisar .icon{
    position: absolute;
    right: 0px;
    top:0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}