<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/inicial.css" media="screen">
  <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 5.6.2, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">





  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "projecto da pap",
      "logo": "images/education.png"
    }
  </script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Página Inicial">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body class="u-body u-xl-mode" data-lang="pt">
  <header class="u-box-shadow u-clearfix u-header u-header" id="sec-2c2e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
        <img src="images/education.png" class="u-logo-image u-logo-image-1">
      </a>
      <h5 class="u-align-center u-text u-text-default u-text-palette-4-dark-2 u-text-1">
        Orientador&nbsp;<br>académico&nbsp;
      </h5>
      <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1" data-responsive-from="MD"
        data-position="">
        <div class="menu-collapse"
          style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
          <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-palette-4-dark-2"
            href="#" style="font-size: calc(1em + 12px);">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-text-palette-4-dark-1 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-border-4 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-4-dark-2 u-button-style u-nav-link u-text-active-palette-4-dark-1 u-text-hover-palette-4-dark-1 u-text-palette-4-dark-3"
                href="/login" style="padding: 10px 0px;">Iniciar sessão</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-4 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-4-dark-2 u-button-style u-nav-link u-text-active-palette-4-dark-1 u-text-hover-palette-4-dark-1 u-text-palette-4-dark-3"
                href="/cadastrar" style="padding: 10px 0px;">Cadastrar</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-container-style u-inner-container-layout u-opacity u-opacity-90 u-palette-4-dark-3 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul
                class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-spacing-10 u-text-active-palette-4-dark-1 u-text-hover-palette-4-dark-2 u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="login/login.php">Iniciar sessão</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Cadastrar/cadastrar.php">Cadastrar</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-60"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-carousel u-slide u-block-031c-1" id="carousel_6187" data-interval="5000" data-u-ride="carousel">
    <ol class="u-absolute-hcenter u-carousel-indicators u-block-031c-2">
      <li data-u-target="#carousel_6187"
        class="u-active u-active-palette-4-dark-1 u-border-active-palette-4-base u-border-hover-palette-4-dark-2 u-hover-palette-4-dark-2 u-palette-4-dark-2 u-shape-rectangle"
        data-u-slide-to="0" style="height: 3px; width: 30px; background-image: none;"></li>
      <li data-u-target="#carousel_6187"
        class="u-active-palette-4-dark-1 u-border-active-palette-4-base u-border-hover-palette-4-dark-2 u-hover-palette-4-dark-2 u-palette-4-dark-2 u-shape-rectangle"
        data-u-slide-to="1" style="height: 3px; width: 30px; background-image: none;"></li>
      <li data-u-target="#carousel_6187"
        class="u-active-palette-4-dark-1 u-border-active-palette-4-base u-border-hover-palette-4-dark-2 u-hover-palette-4-dark-2 u-palette-4-dark-2 u-shape-rectangle"
        data-u-slide-to="2" style="height: 3px; width: 30px; background-image: none;"></li>
      <li data-u-target="#carousel_6187"
        class="u-active-palette-4-dark-1 u-border-active-palette-4-base u-border-hover-palette-4-dark-2 u-hover-palette-4-dark-2 u-palette-4-dark-2 u-shape-rectangle"
        data-u-slide-to="3" style="height: 3px; width: 30px; background-image: none;"></li>
    </ol>
    <div class="u-carousel-inner" role="listbox">
      <div class="u-active u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-1" src=""
        data-image-width="1920" data-image-height="1441">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h1 class="u-text u-text-default u-title u-text-1">Orientador Académico</h1>
          <p class="u-large-text u-text u-text-default u-text-variant u-text-2">O orientador académico um sistema feito
            para ajudar
            alunos a escolher a sua área de formação.
            &nbsp;
            Um sistema que te orienta para o
            curso que mais se enquadra com o teu perfil académico.
            &nbsp; <br>Este sistema também
            irá permitir, dar informações sobre os cursos e qual é o
            melhor lugar para fazer este curso. Com informações detalhadas sobre os cursos
            e sobre as escolas.
          </p>
        </div>
      </div>
      <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-2" src=""
        data-image-width="1920" data-image-height="1375">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h1 class="u-text u-text-default u-title u-text-1">Orientador Académico</h1>
          <p class="u-large-text u-text u-text-default u-text-variant u-text-2"> O orientador académico um sistema feito
            para ajudar
            alunos a escolher a sua área de formação.
            &nbsp;
            Um sistema que te orienta para o
            curso que mais se enquadra com o teu perfil académico.
            &nbsp; <br>Este sistema também
            irá permitir, dar informações sobre os cursos e qual é o
            melhor lugar para fazer este curso. Com informações detalhadas sobre os cursos
            e sobre as escolas..
          </p>
        </div>
      </div>
      <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-3" src=""
        data-image-width="3904" data-image-height="3036">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h1 class="u-text u-text-default u-title u-text-1">Orientador Académico</h1>
          <p class="u-large-text u-text u-text-default u-text-variant u-text-2">O orientador académico um sistema feito
            para ajudar
            alunos a escolher a sua área de formação.
            &nbsp;
            Um sistema que te orienta para o
            curso que mais se enquadra com o teu perfil académico.
            &nbsp; <br>Este sistema também
            irá permitir, dar informações sobre os cursos e qual é o
            melhor lugar para fazer este curso. Com informações detalhadas sobre os cursos
            e sobre as escolas.
          </p>
        </div>
      </div>
      <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-1-4" src=""
        data-image-width="1920" data-image-height="1442">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h1 class="u-text u-text-default u-title u-text-1">Orientador Académico</h1>
          <p class="u-large-text u-text u-text-default u-text-variant u-text-2">O orientador académico um sistema feito
            para ajudar
            alunos a escolher a sua área de formação.
            &nbsp;
            Um sistema que te orienta para o
            curso que mais se enquadra com o teu perfil académico.
            &nbsp; <br>Este sistema também
            irá permitir, dar informações sobre os cursos e qual é o
            melhor lugar para fazer este curso. Com informações detalhadas sobre os cursos
            e sobre as escolas.
          </p>
        </div>
      </div>
    </div>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-031c-3"
      href="#carousel_6187" role="button" data-u-slide="prev">
      <span aria-hidden="true">
        <svg class="u-svg-link" viewBox="0 0 477.175 477.175">
          <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path>
        </svg>
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-031c-4"
      href="#carousel_6187" role="button" data-u-slide="next">
      <span aria-hidden="true">
        <svg class="u-svg-link" viewBox="0 0 477.175 477.175">
          <path
            d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z">
          </path>
        </svg>
      </span>
      <span class="sr-only">Próximo</span>
    </a>
  </section>
  <section class="u-clearfix u-section-2" id="sec-2dc9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" >
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1"
              src="" data-image-width="648" data-image-height="430">
              <div class="u-container-layout u-container-layout-1" src=""></div>
            </div>
            <div
              class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-text u-text-default u-text-1">Teste vocacional</h2>
                <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam
                  nunc justo sagittis suscipit ultrices.</p>
                <a href="#"
                  class="u-active-palette-4-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-4-dark-1 u-palette-4-dark-2 u-radius-11 u-text-active-palette-4-dark-2 u-text-hover-palette-4-dark-2 u-btn-1">Ler
                  mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-image u-image-contain u-shading u-section-3" src="" id="sec-987b"
    data-image-width="1920" data-image-height="980">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-large-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or
        double click to start editing the text.</p>
    </div>
  </section>
  <section class="u-clearfix u-color-scheme-u10 u-color-style-multicolor-1 u-section-4" id="sec-651b">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-image-contain u-layout-cell u-left-cell u-size-60 u-image-1"
                  src="" data-image-width="6009" data-image-height="4160">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h4 class="u-text u-text-default u-text-1">Sample Headline</h4>
                    <p class="u-text u-text-2">Sample text.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Praesent sapien lorem, finibus sed maximus dictum, sodales eget dui. Nullam aliquam diam ut
                      est eleifend, et molestie erat rutrum. Mauris et erat condimentum, iaculis nunc id, lacinia dolor.
                      Integer consequat nisi interdum libero.&nbsp;</p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3">
                    <p class="u-text u-text-3">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Praesent sapien lorem, finibus sed maximus dictum, sodales eget dui. Nullam aliquam diam ut est
                      eleifend, et molestie erat rutrum</p>
                    <a href="#"
                      class="u-active-palette-4-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-4-dark-1 u-palette-4-dark-2 u-radius-11 u-text-active-palette-4-dark-2 u-text-hover-palette-4-dark-2 u-btn-1">Ler
                      mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-clearfix u-footer u-grey-80" id="sec-ac9a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
        <img src="images/education.png" class="u-logo-image u-logo-image-1">
      </a>
      <div
        class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-30 u-line-1">
      </div>
      <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <!--position-->
                <div data-position="" class="u-position">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix">
                      <!--block_header-->
                      <h5 class="u-block-header u-text">
                        <!--block_header_content--> Block header
                        <!--/block_header_content-->
                      </h5>
                      <!--/block_header-->
                      <!--block_content-->
                      <div class="u-block-content u-text">
                        <!--block_content_content--> Block content. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit nullam nunc justo sagittis suscipit ultrices.
                        <!--/block_content_content-->
                      </div>
                      <!--/block_content-->
                    </div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <!--position-->
                <div data-position="" class="u-position">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix">
                      <!--block_header-->
                      <h5 class="u-block-header u-text">
                        <!--block_header_content--> Block header
                        <!--/block_header_content-->
                      </h5>
                      <!--/block_header-->
                      <!--block_content-->
                      <div class="u-block-content u-text">
                        <!--block_content_content--> Block content. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit nullam nunc justo sagittis suscipit ultrices.
                        <!--/block_content_content-->
                      </div>
                      <!--/block_content-->
                    </div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
              <div class="u-container-layout u-valign-top u-container-layout-3">
                <!--position-->
                <div data-position="" class="u-position">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix">
                      <!--block_header-->
                      <h5 class="u-block-header u-text u-text-5">
                        <!--block_header_content-->
                        <!--/block_header_content-->
                      </h5>
                      <!--/block_header-->
                    </div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
            <div
              class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-15 u-size-30-md u-image-2"
              data-image-width="320" data-image-height="320">
              <div class="u-container-layout u-container-layout-4">
                <!--position-->
                <div data-position="" class="u-position u-position-4">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix"></div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/css-templates" target="_blank">
      <span>CSS Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.app" target="_blank">
      <span>Website Builder</span>
    </a>.
  </section>

</body>

</html>